{% extends 'base.html' %}

{% block content %}

<div class="center card">
<p>Title: {{ object.title }}</p>
<p>Text: {{ object.text }}</p>
<p>Creator: {{ object.creator }}</p>
<p>Implementor: {{ object.implementor }}</p>
<p>Created: {{ object.created }}</p>
<p>Updated: {{ object.updated }}</p>
<p>Status: {{ object.status }}</p>



{% comment %} <form method="post" action="{% url "purchase:purchase_add" object.slug %}">
{% csrf_token %}
{{ object }}
{{ form.quant }}

<button type="submit">Send</button>
</form> {% endcomment %}

{% if user.is_superuser or object.creator == user %}
<a href="{% url 'cards:update' object.pk %}">EDIT</a>
{% endif %}
{% if user.is_superuser %}
<a href="{% url 'cards:delete' object.pk %}">DELETE</a>
{% endif %}

{{ message }}
{% if not message and not denied %}
<form method="post" action="{% url 'cards:status' object.pk %}"">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update Status">
  </form>
{% endif %}

</div>
{% endblock content %}
