{% extends 'base.html' %}

{% block content %}


{{ object.title }}<br>
{{ object.text }}<br>
{{ object.status }}<br>
{{ object.creator }}<br>
{{ object.implementor }}<br>
{{ object.created }}<br>
{{ object.updated }}<br>


{% comment %} <form method="post" action="{% url "purchase:purchase_add" object.slug %}">
{% csrf_token %}
{{ object }}
{{ form.quant }}

<button type="submit">Send</button>
</form> {% endcomment %}


<a href="{% url "cards:update" object.pk %}">EDIT</a>
<a href="{% url 'cards:delete' object.pk  %}">DELETE </a>
<br>
{{ message }}
{% if not message and not denied %}
<form method="post" action="{% url 'cards:status' object.pk %}"">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update Status">
  </form>
{% endif %}

{% endblock content %}
